<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>邀请券</title>
    <link href="~/Content/css/pure-min.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />
  
    <script>
        var VirtualDirectory = "@HttpContext.Current.Request.ApplicationPath";
        var hostpath = window.location.href.substring(0, window.location.href.indexOf('/', 10));
        var env = '@System.Configuration.ConfigurationManager.AppSettings["Script_Compress"]';
        var sCodeAccount = '@(System.Configuration.ConfigurationManager.AppSettings["Omniture_Account"].ToString())';
        var TrackEventHost = '@System.Configuration.ConfigurationManager.AppSettings["TrackEventHost"].ToString()';
        var TrackEventAPIUrl = '@System.Configuration.ConfigurationManager.AppSettings["TrackEventAPIUrl"].ToString()';
        var QRCodeUrl = '@System.Configuration.ConfigurationManager.AppSettings["QRCodeUrl"].ToString()';
        var EXAPIUrl = '@System.Configuration.ConfigurationManager.AppSettings["PinkBus_APIUrl"].ToString()';

    </script>
    <script src="~/Scripts/lib/require.js"></script>
    <script src="~/Scripts/config.js"></script>
    @RenderSection("HeaderScripts", false)
</head>
<body class="cardtypenull">
    @RenderBody()
    <footer>
        <!--预留-->
    </footer>
    @RenderSection("FooterScripts", false)
</body>
</html>
