@{
    ViewBag.Title = "来宾名单上传";
}

@model Iparty.SigninUpload.Models.PartyInfo

@section navs{
爱PARTY 来宾名单 - 第一步 填写主办人信息 > 第二步 选择活动场次 > 第三步 来宾名单上传
    }

<style>
    .hidden {
        display: none;
    }

    #partInfo div {
        padding: 5px;
    }

    #uploadTable {
        border: solid #000;
        border-width: 1px 0px 0px 1px;
        text-align: center;
        width: 700px;
    }

        #uploadTable td {
            border: solid #000;
            border-width: 0px 1px 1px 0px;
            padding: 4px 0px;
        }

        #uploadTable .td1 {
            width: 69px;
        }

        #uploadTable .td2, #uploadTable .td3, #uploadTable .td4 {
            width: 165px;
        }

        #uploadTable input {
            width: 130px;
            margin: 0px;
        }


        #uploadTable .successBtn {
            color: #808080;
        }

    #timeErr {
        color: #f00;
        height: 19px;
    }

    .timeErrMonth {
        padding-left: 265px !important;
    }

    .timeErrStart {
        padding-left: 340px !important;
    }

    .timeErrEnd {
        padding-left: 450px !important;
    }


    #tableErrMsg span {
        color: #f00;
    }

    #tableErrMsg .nameNull {
        margin-left: 45px;
    }

    #tableErrMsg .phoneNull {
        margin-left: 210px;
    }

    #tableErrMsg .recNull {
        margin-left: 380px;
    }
</style>

<div id="partInfo" style="padding: 20px; background-color: rgb(229, 229, 229);">
    <input type="hidden" id="hid_partyKey" value="@Model.PartyKey" />

    <div>活动主办人姓名: @Model.Name.Replace(",", "")       <span style="margin-left: 30px;">编号</span>：@Model.DirectSellerID     <a href="javascript:void(0)" id="AHome" style="margin-left: 30px;">修改主办人</a></div>
    <div>活动名称：@Model.Title    <a href="javascript:void(0)" value="@Model.DirectSellerID" style="margin-left: 30px;" id="A_ChangeParty">修改活动场次</a></div>
    <div>活动地点：@Model.Location</div>
    <div>活动申请举办时间：@Model.PartyTime</div>
    @if (!Model.ActualStart.HasValue || Model.ActualStart.Value == null)
    {
        <input type="hidden" id="hid_IsSaveActualTime" value="false" />
        <div id="Selection">
            活动实际举办时间（选填）：@(Model.StartDate.ToString("yyyy年MM月"))
            <input type="hidden" id="actualYear" value="@(Model.StartDate.ToString("yyyy-MM-"))" />
           
            <!--此方法支持不跨月份的情况-->
            <select id="sel_day" style="margin-right: 10px;">
                <option value="" selected="selected"></option>
                @for (int i = int.Parse(Model.StartDate.Date.ToString("dd")); i <= int.Parse(Model.EndDate.Date.ToString("dd")); i++)
                {
                    <option value="@(i<10?"0"+i.ToString():i.ToString())">@(i<10?"0"+i.ToString():i.ToString()) 日</option>
                }
            </select>



            @Html.Partial("_selectTime", "sel_start")
            <span>~ </span>
            @Html.Partial("_selectTime", "sel_end")
            <a href="javascript:void(0)" id="ActualTimeBtn" style="margin-left: 20px;">提交</a>
        </div>
        <div id="timeErr">&nbsp; </div>
    }
    else
    {
        <input type="hidden" id="hid_IsSaveActualTime" value="true" />
        <div id="Selection">
            活动实际举办时间（选填）：@(Model.ActualStart.Value.ToString("yyyy年MM月dd日")) &nbsp;&nbsp;&nbsp;@(Model.ActualStart.Value.ToString("HH:mm")) ~ @(Model.ActualEnd.Value.ToString("HH:mm"))
        </div>
       
    }
</div>


<div id="inputInfo">
    <div style="height: 20px; line-height: 20px; margin-top: 40px;">请填写来宾信息：</div>
    <div style="color: gray; font-size: 12px; height: 40px; line-height: 40px;">* 邀约人为选填项，若无邀约人信息，请勿在该栏输入任何字符。</div>
    <div style="min-height: 300px; margin-bottom: 50px;">
        <table id="uploadTable" border="0" cellpadding="0" cellspacing="0" style="">
            <thead style="">
                <tr>
                    <td class="td1">序号</td>
                    <td class="td2">姓名</td>
                    <td class="td3">手机号码</td>
                    <td class="td4">邀约人编号(选填)</td>
                    <td class="td5">操作</td>
                </tr>
            </thead>
            <tbody>
                <tr class="hidden">
                    <td class="td1">NAN</td>
                    <td class="td2">
                        <input type="text" maxlength="10" /></td>
                    <td class="td3">
                        <input type="tel" maxlength="11" /></td>
                    <td class="td4">
                        <input type="tel" maxlength="12" /></td>
                    <td class="td5">
                        <a href="javascript:void(0)" class="btnDelRow">删除</a>&nbsp;&nbsp;
                    <a href="javascript:void(0)" class="addOneBtn">提交</a>
                    </td>
                </tr>
                @foreach (Iparty.SigninUpload.Models.Customer i in ViewBag.Customers)
                {
                    <tr>
                        <td class="td1">1</td>
                        <td class="td2">
                            @i.Name </td>
                        <td class="td3">
                            @i.PhoneNumber </td>
                        <td class="td4">
                            @i.DirectSellerID </td>
                        <td class="td5 successBtn">已成功提交
                        </td>
                    </tr>
                }
                <tr>
                    <td class="td1">1</td>
                    <td class="td2">
                        <input type="text" maxlength="10" /></td>
                    <td class="td3">
                        <input type="tel" maxlength="11" /></td>
                    <td class="td4">
                        <input type="tel" maxlength="12" /></td>
                    <td class="td5">
                        <a href="javascript:void(0)" class="btnDelRow" >删除</a>&nbsp;&nbsp;
                    <a href="javascript:void(0)" class="addOneBtn">提交</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="tableErrMsg" style="margin-top: 15px;">
            <a href="javascript:void(0)" id="addNewRow" style="text-decoration: none;">+新增 </a>
            <span></span>

        </div>
    </div>

    <div>
        您当前已成功提交 <span style="color: #f00" id="InputCount">0</span> 位来宾信息，已成功提交的来宾信息不可修改或删除。<br />
        若已提交完该场活动的所有来宾信息，请点击下方的“填写完成”按钮。

    </div>
    <div style="margin-top: 15px; margin-bottom: 50px;">
        <button style="width: 100px; margin-right: 30px;" id="inputComplete">填写完成</button>
        <a href="javascript:void(0)" value="@Model.DirectSellerID" id="A_back">返回上一步</a>

    </div>
</div>



@section scripts{
    <script src="~/Scripts/UploadModel.js"></script>
}

