@using PinkBus.EventStat.Models

@{

    SearchModel SM = ViewBag.SearchModel;
}

@model List<IndexEvent>
@if (Model.Count > 0)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th width="15%">活动名称</th>
                <th width="15%">活动时间</th>
                <th width="15%">已生效邀约券</th>
                <th width="15%">邀约者名单</th>
                <th width="15%">签到者名单</th>
                <th width="15%">新顾客名单</th>
                <th width="10%">产品使用数据</th>
            </tr>
        </thead>

        <tbody>
            @foreach (IndexEvent m in Model)
            {
                <tr>
                    <td>@m.EventTitle</td>
                    <td style="clear:both;text-align:center;">
                        @m.CheckinStartDate.ToString("yyyy/MM/dd HH:mm") <br>
                        ~ <br>
                        @m.EventEndDate.ToString("yyyy/MM/dd HH:mm")
                    </td>
                    <td id="TicketInfo" data-toggle="modal" data-target="#TicketModal" style="text-align:center;cursor:pointer;color:#337ab7;font-weight:bold; hover{color:#23527c} " eventkey="@m.EventKey">
                        <span>来宾券：@m.NormalTicketCount.ToString()</span> <br>
                        <span style="text-decoration: underline;">贵宾券：@m.VIPTicketCount.ToString()</span>
                    </td>
                    <td class="strong-td">@Html.ActionLink(m.InviterCount.ToString(), "Inviter", new { eventKey = m.EventKey }, new { target = "_blank" }) </td>
                    <td class="strong-td">@Html.ActionLink((m.CheckinCount.ToString() + " / " + m.NeedCheckinCount.ToString()), "CheckIn", new { eventKey = m.EventKey }, new { target = "_blank" })</td>
                    <td class="strong-td">@Html.ActionLink(m.NewCustomerCount.ToString(), "NewCustomer", new { eventKey = m.EventKey }, new { target = "_blank" }) </td>
                    <td>
                        <button class="btn activity-btn__import" type="button" data-toggle="modal" data-target="#detailModal" id="SeeParticulars" eventkey="@m.EventKey">查看详情</button>
                    </td>
                </tr>

            }
        </tbody>



    </table>
}
else
{
    <div style="text-align:center;padding-top:100px;"><img src="~/Content/images/nothing.png" /></div>
}

<input type="hidden" id="TotalRow" value="@(SM.TotalRow)" />
<input type="hidden" id="PageCount" value="@(SM.MaxPage)" />
