
@using PinkBus.EventStat.Models

@{

    SearchModel SM = ViewBag.SearchModel;
}

@model List<PB_OfflineCustomer>
@if(Model.Count>0){
<table class="table">
    <thead>
        <tr>
            <th width="12%">
                新顾客姓名
            </th>
            <th width="17%">
                联系方式
            </th>
            <th width="8%">
                年龄
            </th>
            <th width="12%">
                顾客身份
            </th>
           
            <th width="17%">
                分配顾问姓名
            </th>
            <th width="17%">
                分配顾问编号
            </th>
            <th width="17%">
                操作
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            foreach (PB_OfflineCustomer c in Model)
            {
                
                <tr id="tr_@c.CustomerKey">
                    <td>
                        @(c.CustomerName)
                    </td>
                    <td>
                        @(c.ContactInfo)<span>(@( string.IsNullOrEmpty(c.ContactType) ? "" : c.ContactType.Replace("PhoneNumber", "手机").Replace("Wechat", "微信").Replace("Other", "其他")))</span>
                    </td>
                    <td>
                        @( c.AgeRange.HasValue ? c.AgeRange.Value.ToString().Replace("Bellow25", "25岁以下").Replace("Between2535", "25-35岁").Replace("Between3545", "35-45岁").Replace("Above45", "大于45岁") : "")
                    </td>
                    <td>
                        @(c.CustomerType.HasValue ?((int)c.CustomerType.Value==0?"老顾客":((int)c.CustomerType.Value==1?"新顾客":"在校学生")):"")
                    </td>
                    <td>
                        @(c.LastName + c.FirstName)
                    </td>
                    <td>
                        @(c.DirectSellerId)
                    </td>
                    <td>
                       
                        <button class="btn activity-btn__import" type="button" data-toggle="modal" data-target="#detailModal">查看详情</button>
                        <input type="hidden" class="CustomerKey" value="@(c.CustomerKey)" />
                        <input type="hidden" class="CustomerInfo" value="@(Newtonsoft.Json.JsonConvert.SerializeObject(c))" />
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
}
else
{
    <div style="text-align:center;padding-top:100px;"><img src="~/Content/images/nothing.png" /></div>
}
<input type="hidden" id="TotalRow" value="@(SM.TotalRow)" />
<input type="hidden" id="PageCount" value="@(SM.MaxPage)" />

