@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后
    <title>5C亮采全部</title>！ -->
    @*<link href="~/Content/css/style.css" rel="stylesheet">*@
    <script>
    var env = '@System.Configuration.ConfigurationManager.AppSettings["Script_Compress"]';
    var VirtualDirectory = "@HttpContext.Current.Request.ApplicationPath";
    var hostpath = window.location.href.substring(0, window.location.href.indexOf('/',10));
    var returnUrl = '@ViewData["returnUrl"]';
    var sCodeAccount = '@(System.Configuration.ConfigurationManager.AppSettings["Omniture_Account"].ToString())';
    var TrackEventHost = '@System.Configuration.ConfigurationManager.AppSettings["TrackEventHost"].ToString()';
    var TrackEventAPIUrl = '@System.Configuration.ConfigurationManager.AppSettings["TrackEventAPIUrl"].ToString()';
  
    var EXAPIUrl = '@System.Configuration.ConfigurationManager.AppSettings["PinkBus_APIUrl"].ToString()';
    var ClientID = '@(System.Configuration.ConfigurationManager.AppSettings["ClientID"].ToString())';
    var UnionID = '@ViewData["unionID"]';  
    localStorage.UnionID = UnionID;  
    </script>
    <script src="~/Scripts/lib/require.js"></script>  
    <script src="~/Scripts/config.js"></script>
    <title></title>
</head>
<body >
    <center>
        <p class="loading"><img src="~/Content/images/loading.gif"></p>
        <span  style="">
            <div>跳转中,请稍候...</div>
           
        </span>
    </center> 
    <script type="text/javascript">
        require(['Views/Callback']);
    </script>
</body>
</html>