@{
    ViewBag.Title = "登录跳转中";
    Layout = null;
}


<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<div id="login" style="text-align: center; margin-top: 100px;">
    <img src="~/Content/Wechat/loading.GIF" style="height: 100px;"  />
    <br />
    <h1 style="color: #ADADAD">登录中,请稍候...</h1>
</div>


<div id="error" style="text-align: center; margin-top: 100px; display: none;">
    <img src="~/Content/Wechat/logo.jpg" />
    <br />
    <h1 style="color: #ADADAD">抱歉，您的网络连有问题，<br />请到较好的网络环境中重试</h1>
</div>
<script type="text/javascript">

    $(function () {
        //alert(1);
        $.ajax({
            url: '/iparty/wechat/reCallback',  //请求的URL
            timeout: '@(Request.UserAgent.ToLower().Contains("iphone")?30000:7000)', //超时时间设置，单位毫秒
            type: 'post',  //请求方式，get或post
            data: {
                code: '@Request.QueryString["code"]',                state: '@Request.QueryString["state"]',                token: '@Request.QueryString["Token"]',                ReferenceKey: '@Request.QueryString["ReferenceKey"]'              
            },  //请求所传参数，json格式
            dataType: 'json',//返回的数据格式
            success: function (jr) { //请求成功的回调函数
                // alert("成功");
                if (jr.url.indexOf("http") > -1) {
                    location.href = jr.url;
                } else {
                    location.href = location.origin + "/iparty" + jr.url;
                }
            },
            complete: function (XMLHttpRequest, status) { //请求完成后最终执行参数

                if (status == 'timeout'||status == 'error') {//超时,status还有success,error等值的情况
                    //ajaxTimeoutTest.abort();
                    $.get("/iparty/wechat/wechatViewErr", {
                        code: '@Request.QueryString["code"]', status: status
                    })
                    $("#login").css("display", "none");
                    $("#error").css("display", "block");
                } 
            }
            
        });

    });
</script>
