@{
    Layout = null;
}



<select id="@(Model)_Hour">
     <option value="" selected="selected"></option>
    @for (int i = 0; i <= 23; i++)
    {
        <option value="@(i < 10 ? "0" + i.ToString() : i.ToString())">@(i < 10 ? "0" + i.ToString() : i.ToString()):</option>
    }
</select>

<select style="margin-left: -5px;" id="@(Model)_Min">
     <option value="" selected="selected"></option>
    @for (int i = 0; i <= 55; i++)
    {
        if (i % 5 == 0)
        {
        <option value="@(i < 10 ? "0" + i.ToString() : i.ToString())">@(i < 10 ? "0" + i.ToString() : i.ToString())</option>
        }
    }
</select>