@using PinkBus.EventManagement.Models;
@{
    ViewBag.Title = "ConsultantsInfo";
    EventUserType user = (EventUserType)Enum.Parse(typeof(EventUserType), ViewData["UserType"].ToString());
    bool import = bool.Parse(ViewData["Import"].ToString());
}

@model List<EventConsultant>

<div class="import-table">
    <input type="hidden" id="UserType" value="@ViewData["UserType"]" />
    <input type="hidden" id="EventKey" value="@Request.QueryString["EventKey"]" />

    <div class="consultant-import__btn">

        @if (!import)
        {
            <span>导入名单：</span>
            <button type="button" class="btn  btn-d-w" data-toggle="modal" data-target="#importModal"><span class="icon-danger-plus"></span>@(user == EventUserType.VolunteerBC ? " 导入志愿者名单" : (user == EventUserType.NormalBC ? "导入抢报名单" : " 导入赠票名单"))</button>
        
   
        }
        else
        {
      
            <span>已导入名单：</span> 

        }
    </div>
    <table class="table  table-bordered table-hover " id="editable">
        <thead>
            <tr>
                @if (user == EventUserType.NormalBC)
                {
                    <th width="25%">顾问编号 </th>
                    <th width="15%">姓名</th>
                    <th width="20%">手机号</th>
                    <th width="10%">职级</th>
                    <th width="20%">身份证号</th>
                    if (!import)
                    {<th width="10%">操作</th>}
                }
                else if (user == EventUserType.VolunteerBC)
                {
                    <th width="15%">顾问编号</th>
                    <th width="15%">姓名</th>
                    <th width="12%">手机号</th>
                    <th width="10%">职级</th>
                    <th width="18%">身份证号</th>
                    <th width="8%">省</th>
                    <th width="8%">市</th>
                    <th width="8%">区/县</th>
                    if (!import)
                    {<th width="6%">操作</th>}
                }
                else if (user == EventUserType.VIPBC)
                {
                    <th width="20%">顾问编号</th>
                    <th width="15%">姓名</th>
                    <th width="15%">手机号</th>
                    <th width="8%">职级</th>
                    <th width="20%">身份证号</th>
                    <th width="7%">来宾券</th>
                    <th width="7%">贵宾券</th>
                    if (!import)
                    {<th width="8%">操作</th>}
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
{
    <tr >

        <td id="@m.DirectSellerID" data-role="DirectSellerID">@m.DirectSellerID @(m.IsLiveAdd && user == EventUserType.VolunteerBC ? "(现场)" : "")</td>
        <td data-role="name">@(m.LastName + m.FirstName)</td>
        <td title="@(!import?"双击单元格修改":"")" data-role="tel">@(m.PhoneNumber)</td>
        <td data-role="grade">@(m.Level)</td>
        <td title="@(!import?"双击单元格修改":"")" data-role="IDNumber">@(m.ResidenceID)</td>
        @if (user == EventUserType.VolunteerBC)
{
    <td title="@(!import?"双击单元格修改":"")">@(m.Province)</td>
    <td title="@(!import?"双击单元格修改":"")">@(m.City)</td>
    <td title="@(!import?"双击单元格修改":"")">@(m.CountyName)</td>
}
        else if (user == EventUserType.VIPBC)
        {
            if (m.NormalTicketSettingQuantity == m.NormalTicketQuantity)
            {
                <td>@m.NormalTicketQuantity</td>
            }
            else
            {
                <td><span style="color:#f00;">@m.NormalTicketQuantity</span> / @m.NormalTicketSettingQuantity </td>
            }
            if (m.VIPTicketSettingQuantity == m.VIPTicketQuantity)
            {
                <td>@m.VIPTicketQuantity</td>
            }
            else
            {
                <td><span style="color:#f00;">@m.VIPTicketQuantity</span> / @m.VIPTicketSettingQuantity</td>
            }
        }

        @if (!import)
        {
            <td class="import-record__del">
                <div class="btn btn-default">删除</div>
            </td>
        }

    </tr>
}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6@(user == EventUserType.NormalBC ? "6" : (user == EventUserType.VolunteerBC ? "8" : "9"))">
                    @if (!import)
                    {<a id="addNewRow" href="javascript:;" class="btn"><span class="icon-add"></span>新增一行</a>}
                    <span class="pull-right import-record counsultantCount">共<span>@Model.Count</span>条记录</span>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
@if (user == EventUserType.VIPBC)
{
    <span  style="margin-left:35px; font-size:12px;">业务预留帐号：000000000020 ~ 000000000025</span>
    <br />
    <br />
}
<div class="import__footer">
    <button class="btn btn-d-m btn-danger btn-outline btc-close">关闭</button>
    @if (!import)
    {
        <button type="button" class="btn btn-d-m btn-danger" id="submitList">确认</button>
    }
</div>

<!-- Modal -->
<div class="modal import-modal" id="importModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon-close"></span></button>
                <h4 class="modal-title" id="myModalLabel">@(user == EventUserType.VolunteerBC ? "输入志愿者编号" : "输入顾问编号")</h4>
            </div>
            <div class="modal-body">
                <div>
                    <textarea class="form-control" rows="12" id="listTextarea"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <p>注：每个编号独立一行，不要在中间添加任何符号</p>
                <button type="button" class="btn btn-d-m btn-danger btn-outline" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-d-m btn-danger" id="getInfoBtn">确认</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal import-modal import-table" id="TicketOutConsultant" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title" id="">以下用户分票异常！确认提交？</h4>
            </div>
            <div class="modal-body" style="max-height:330px; overflow-y:scroll; padding:15px 20px;">
               <table class="table  table-bordered table-hover " id="TicketOutTable"  >
               <thead>
                   <tr style="font-size:13px;"><th width="25%">编号</th>
                   <th width="15%" >姓名</th>
                   <th width="30%">贵宾券(实分/应分)</th>
                   <th width="30%">来宾券(实分/应分)</th></tr>
               </thead> 
                   <tbody>
                      
                   </tbody>   
               </table>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-d-m btn-danger btn-outline" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-d-m btn-danger" id="ticketOutSubmit">确认提交</button>
            </div>
        </div>
    </div>
</div>
