@{
    ViewBag.Title = "EventList";
    PinkBus.EventManagement.Models.SearchModel SM = ViewBag.SearchModel;
    var CountFrom = SM.TotalRow > 0 ? (SM.Page - 1) * SM.pageSize + 1 : 0;
    var CountTo = SM.Page * SM.pageSize < SM.TotalRow ? SM.Page * SM.pageSize : SM.TotalRow;
}

@model List<PinkBus.EventManagement.Models.PB_Event>
@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th width="11%">
                    活动名称
                </th>
                <th width="11%">
                    活动地点
                </th>
                <th width="12%">
                    抢报时间
                </th>
                <th width="12%">
                    邀约时间
                </th>
                <th width="12%">
                    活动时间
                </th>
                <th width="7%">
                    贵宾券数
                </th>
                <th width="6.5%">
                    来宾券数
                </th>
                <th width="8%">
                    活动下载码
                </th>
                <th width="8%">
                    活动上传码
                </th>
                <th>
                    操 作
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr id="tr_@(m.EventKey)">
                    <td>
                        <a href="#" class="EventTitle" id="@(m.EventKey)" data-toggle="modal" data-target="#activityCreate">@(m.EventTitle)</a>
                    </td>
                    <td>
                        <span class="EventLocation">@(m.EventLocation)</span>
                    </td>
                    <td>
                        <div><span class="ApplyTicketStartDate">@(m.ApplyTicketStartDate.ToString("yyyy.MM.dd HH:mm"))</span><br>~<br><span class="ApplyTicketEndDate">@(m.ApplyTicketEndDate.ToString("yyyy.MM.dd HH:mm"))</span></div>
                    </td>
                    <td>
                        <span class="InvitationStartDate">@(m.InvitationStartDate.HasValue ? m.InvitationStartDate.Value.ToString("yyyy.MM.dd HH:mm") : "/")</span><br>~<br><span class="InvitationEndDate">@(m.InvitationEndDate.ToString("yyyy.MM.dd HH:mm"))</span>
                    </td>
                    <td>
                        <div>@((ViewBag.Sessions as List<PinkBus.EventManagement.Models.PB_EventSession>).FirstOrDefault(e => e.EventKey == m.EventKey) == null ? "/" : (ViewBag.Sessions as List<PinkBus.EventManagement.Models.PB_EventSession>).FirstOrDefault(e => e.EventKey == m.EventKey).SessionStartDate.ToString("yyyy.MM.dd HH:mm"))<br>~<br>@(m.EventEndDate.ToString("yyyy.MM.dd HH:mm"))</div>
                    </td>
                    <td>
                        @( ViewBag.Sessions != null ? (ViewBag.Sessions as List<PinkBus.EventManagement.Models.PB_EventSession>).FindAll(e => e.EventKey == m.EventKey).Sum(e => e.VIPTicketQuantity).ToString() : "0")
                    </td>
                    <td>
                        @( ViewBag.Sessions != null ? (ViewBag.Sessions as List<PinkBus.EventManagement.Models.PB_EventSession>).FindAll(e => e.EventKey == m.EventKey).Sum(e => e.NormalTicketQuantity).ToString() : "0")
                    </td>
                    <td>
                        @(m.DownloadToken)
                    </td>
                    <td>
                        @(m.UploadToken)
                    </td>
                    <td>
                        <a class="btn activity-btn__import " href="@Url.Action("ApplyBC", new { EventKey = m.EventKey })" target="_blank">@(m.BCImport ? "查看" : "导入")抢报顾问名单</a>
                        @if (m.ApplyTicketEndDate > DateTime.Now)
                        {
                            <button class="btn activity-btn__import" onclick="@("layer.alert('在抢报结束时间[" + m.ApplyTicketEndDate.ToString("yyyy-MM-dd HH:mm") + "]之前<br />不可进行操作，请稍后刷新重试！', { title: '警告：' })")" target="_blank">导入志愿者名单</button>
                            <a class="btn activity-btn__import " onclick="@("layer.alert('在抢报结束时间[" + m.ApplyTicketEndDate.ToString("yyyy-MM-dd HH:mm") + "]之前<br />不可进行操作，请稍后刷新重试！', { title: '警告：' })")">导入追加赠票名单</a>
                        }
                        else
                        {
                            <a class="btn activity-btn__import " href="@(Url.Action("VolunteerBC", new {EventKey=m.EventKey }))" target="_blank">@(m.VolunteerImport ? "查看" : "导入")志愿者名单</a>
                            <a class="btn activity-btn__import  " href="@(Url.Action("VIPBC", new {EventKey=m.EventKey }))" target="_blank">@(m.VipImport ? "查看" : "导入")追加赠票名单</a>
                        }


                        <input type="hidden" id="EventStartDate_@m.EventKey" value="@m.EventStartDate" />
                        <input type="hidden" id="EventEndDate_@m.EventKey" value="@m.EventEndDate" />
                        <input type="hidden" id="EventImport_@m.EventKey" value="@(m.BCImport || m.VolunteerImport || m.VipImport ? "true" : "false")" />
                        <input type="hidden" id="SessionVal_@m.EventKey" value="@(Newtonsoft.Json.JsonConvert.SerializeObject((ViewBag.Sessions as List<PinkBus.EventManagement.Models.PB_EventSession>).FindAll(e => e.EventKey == m.EventKey)))" />

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div style="text-align:center;padding-top:100px;"><img src="~/Content/images/nothing.png" /></div>
}
<input type="hidden" id="PageCountFrom" value="@(CountFrom)" />
<input type="hidden" id="PageCountTo" value="@(CountTo)" />
<input type="hidden" id="EventTotalRow" value="@(SM.TotalRow)" />
<input type="hidden" id="EventPageCount" value="@(SM.MaxPage)" />


